<!DOCTYPE html>
<html>
    <head>
        <title>Blogs</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <a href="/">Home</a>
        <a href="/blog">All post</a>
        <a href="/newpost">New post</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </head>
    <body>

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>