{% extends 'base.html' %}

{% block content %}
<div class="sign-up">
    <h1 class="s-title" style="margin-bottom: 10px;">Create a Account</h1>
    <form action="/signup" method="post">
        <label>
            <span class="signup-box">Username</span>
            <input type="text" name="username" style="margin-bottom: 10px;" class="signin-box" value="{{username}}" />
        </label>
        <br>
        <label>
            <span class="signup-box">Password</span>
            <input type="password" name="password" style="margin-bottom: 10px;" class="signin-box" />
        </label>
        <br>
        <label>
            <span class="signup-box">Verify password</span>
            <input type="password" name="verify" style="margin-bottom: 10px;" class="signin-box"/>
        </label>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category,message in messages %}
                <p class="{{category}}">{{message}}</p>
            {% endfor %}
        {% endwith %}
        <br>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}